@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Manrope", sans-serif;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
@layer components {
    .btn {
        @apply flex h-[48px] w-[160px] flex-col items-center justify-center uppercase;
        padding: 0.94px 1.97px;
        text-transform: uppercase;
    }

    .cross {
        @apply w-[24px];
    }
    .cross span {
        @apply block h-[3px] w-full bg-white;
        transition: background-color 350ms ease-in-out;
    }
    .cross span:before {
        transform: translateY(-10px);
    }
    .cross span::after {
        transform: translateY(10px);
        margin-top: -4px;
    }
    .cross span::before,
    .cross span::after {
        content: "";
        @apply block h-[4px] w-full bg-white;
        transition: transform 350ms ease-in-out;
    }
    .cross.active span {
        @apply bg-transparent;
    }
    .cross.active span::before {
        transform: rotateZ(45deg) translateY(0);
    }
    .cross.active span::after {
        transform: rotateZ(-45deg) translateY(0);
    }
}
@layer utilities {
    .casque {
        background: url("../images/home/mobile/image-header.jpg") center/100% no-repeat;
        height: 583px;
        width: 100%;
    }
    .nav {
        transition:
            transform 350ms ease-in-out,
            visibility 350ms ease-in-out,
            height 350ms ease-in-out;
        transform: translateX(-100%);
        height: 0;
    }
    .nav-active {
        height: 100vh;
        transform: translateX(0%);
    }
    nav ul {
        border-radius: 0px 0px 8px 8px;
    }
    .pattern {
        background-image: url(@/assets/images/home/desktop/pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 176%;
        background-position-y: -7rem;
    }
    @media screen and (min-width: 768px) {
        .pattern {
            background-size: 129%;
            background-position-y: -16rem;
        }
    }
    @media screen and (min-width: 1440px) {
        .pattern {
            background-size: 79%;
            background-position-y: -2rem;
            background-position-x: -7rem;
        }
    }
    footer {
        position: relative;
    }
    footer::before {
        content: "";
        position: absolute;
        top: 0;
        width: 101px;
        height: 4px;
        background-color: #d87d4a;
    }
    .containerProduct:nth-child(2) {
        flex-direction: row-reverse;
    }
    .containerGrid > picture:nth-child(2) {
        grid-row-start: 2;
    }
    .containerGrid > picture:nth-child(1) {
        grid-row-start: 1;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .containerGrid > picture:nth-child(2) {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .containerGrid > picture:nth-child(3) {
            grid-column-start: 2;
            grid-row: span 2 / span 2;
            grid-row-start: 1;
        }
    }
    @media screen and (min-width: 1024px) {
        .containerGrid > picture:nth-child(2) {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .containerGrid > picture:nth-child(3) {
            grid-column-start: 2;
            grid-row: span 2 / span 2;
            grid-row-start: 1;
        }
    }
    .containerAnother > div:nth-child(2) {
        order: 3;
    }
}
